<!-- Navbar Start -->
<nav class="navbar" id="navbar">
    <div class="container flex flex-wrap items-center justify-between">
        <a class="navbar-brand md:me-8" href="index.html">
            <span class="inline-block dark:hidden">
                <img src="assets/images/logo-dark.png" class="l-dark" alt="">
                <img src="assets/images/logo-light.png" class="l-light" alt="">
            </span>
            <img src="assets/images/logo-light.png" class="hidden dark:inline-block" alt="">
        </a>

        <div class="nav-icons flex items-center lg_992:order-2 ms-auto md:ms-8">
            <!-- Navbar Button -->
            <ul class="list-none menu-social mb-0">
                <li class="inline">
                    <a href="" class="btn btn-icon btn-sm rounded-full bg-amber-500 hover:bg-amber-600 border-amber-500 hover:border-amber-600 text-white"><i class="uil uil-dribbble align-middle"></i></a>
                    <a href="" class="btn btn-icon btn-sm rounded-full bg-amber-500 hover:bg-amber-600 border-amber-500 hover:border-amber-600 text-white"><i class="uil uil-behance align-middle"></i></a>
                    <a href="" class="btn btn-icon btn-sm rounded-full bg-amber-500 hover:bg-amber-600 border-amber-500 hover:border-amber-600 text-white"><i class="uil uil-instagram align-middle"></i></a>
                </li>
            </ul>
            <!-- Navbar Collapse Manu Button -->
            <button data-collapse="menu-collapse" type="button" class="collapse-btn inline-flex items-center ms-2 text-dark dark:text-white lg_992:hidden" aria-controls="menu-collapse" aria-expanded="false">
                <span class="sr-only">منو</span>
                <i class="mdi mdi-menu text-[24px]"></i>
            </button>
        </div>

        <!-- Navbar Manu -->
        <div class="navigation lg_992:order-1 lg_992:flex hidden ms-auto" id="menu-collapse">
            <ul class="navbar-nav nav-light sidebar-nav" id="navbar-navlist">
                <li class="nav-item">
                    <a class="nav-link active" href="#home">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">معرفی</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#service">مهارت ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">تجربیات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#project">پروژه ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#blog">مقالات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">ارتباط با من</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->