<!-- Start -->
<section class="relative md:py-24 py-16" id="blog">
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-6 md:text-2xl text-xl md:leading-normal leading-normal font-semibold">مقاله ها و جزوات</h3>

            <p class="text-slate-400 max-w-xl mx-auto text-[15px]">
                مقاله ها و جزوات من در حوزه های مهندسی نرم افزار , وب و هوش مصنوعی
            </p>
        </div><!--end grid-->

        <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-[30px] mt-8" id="blog_container">
        </div><!--end grid-->

        <div class="w-full text-center pt-16">
            <a href="https://madipakravan.ir/blog.html">همه مقالات</a>
        </div>
    </div><!--end container-->
</section><!--end section-->
<!-- End -->
