<!-- Start -->
<section class="relative md:py-24 py-16 bg-gray-50 dark:bg-slate-800" id="testi">
    <div class="container">
        <div class="grid grid-cols-1 pb-8 text-center">
            <h3 class="mb-6 md:text-2xl text-xl md:leading-normal leading-normal font-semibold">نظرات همکاران/کارفرماها و اساتید</h3>

            <p class="text-slate-400 max-w-xl mx-auto text-[15px]">نظرات دوستان عزیز در مورد پروژه ها و همکاری با اینجانب</p>
        </div><!--end grid-->

        <div class="grid relative grid-cols-1 mt-6">
            <div class="tiny-three-item">
                <div class="tiny-slide">
                    <!-- Content -->
                    <div class="customer-testi">
                        <div class="content relative rounded shadow shadow-gray-200 dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900">
                            <i class="mdi mdi-format-quote-open mdi-48px text-amber-500"></i>
                            <p class="text-slate-400 text-[15px]">
                                مهدی واقعا یک رهبر تیم است. او بیش از همه برای یادگیری و رشد شخصی ارزش قائل است.
                                اگر می‌خواهید کسی پروژه‌های فرانت‌اند شما را با دانش عمیق و به‌روز رهبری کند، اکیداً به او توصیه می‌کنم.
                            </p>
                            <ul class="list-none mb-0 text-amber-400 mt-3">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>

                        <div class="text-center mt-5">
                            <img src="assets/images/client/majid-jafari.jpg" class="h-14 w-14 rounded-full shadow-md mx-auto mb-1" alt="">
                            <a href="" class="text-base font-medium h5 hover:text-amber-500 duration-500 ease-in-out">مجید جعفری</a>
                            <span class="text-slate-400 text-sm block">مهندس نرم افزار در صربستان</span>
                        </div>
                    </div>
                    <!-- Content -->
                </div>

                <div class="tiny-slide">
                    <!-- Content -->
                    <div class="customer-testi">
                        <div class="content relative rounded shadow shadow-gray-200 dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900">
                            <i class="mdi mdi-format-quote-open mdi-48px text-amber-500"></i>
                            <p class="text-slate-400 text-[15px]">
                                من مهدی رو سال هاست میشناسم .
                                مهدی خیــــلی سریع رشد می کند.
                                او مباحث حرفه ای و پیچیده کدنویسی را خیلی سریع یاد می گــیرد و به آن مسلط می شود
                                . مهدی یک توســـعه دهنده واقعی فول استک است.
                            </p>
                            <ul class="list-none mb-0 text-amber-400 mt-3">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>

                        <div class="text-center mt-5">
                            <img src="assets/images/client/abdolmaleki.jpg" class="h-14 w-14 rounded-full shadow-md mx-auto mb-1" alt="">
                            <a href="" class="text-base font-medium h5 hover:text-amber-500 duration-500 ease-in-out">علیرضا عبدالملکی</a>
                            <span class="text-slate-400 text-sm block" dir="rtl">سرپرست تیم وب SnapTrip</span>
                        </div>
                    </div>
                    <!-- Content -->
                </div>

                <div class="tiny-slide">
                    <!-- Content -->
                    <div class="customer-testi">
                        <div class="content relative rounded shadow shadow-gray-200 dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900">
                            <i class="mdi mdi-format-quote-open mdi-48px text-amber-500"></i>
                            <p class="text-slate-400 text-[15px]">
                                من دوست قدیمی مهدی هستم.
                                مهدی یک هم تیمی فوق العاده و دوست بسیار خوبی است. او دانش زیادی در زمینه توسعه Back-End و طراحی api با مستندات کامل دارد. از کار کردن با او کاملا لذت ببرید
                            </p>
                            <ul class="list-none mb-0 text-amber-400 mt-3">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>

                        <div class="text-center mt-5">
                            <img src="assets/images/client/alipanah.jpg" class="h-14 w-14 rounded-full shadow-md mx-auto mb-1" alt="">
                            <a href="" class="text-base font-medium h5 hover:text-amber-500 duration-500 ease-in-out">محمدعلی علی پناه</a>
                            <span class="text-slate-400 text-sm block">سرپرست تیم وب زومیت</span>
                        </div>
                    </div>
                    <!-- Content -->
                </div>

                <div class="tiny-slide">
                    <!-- Content -->
                    <div class="customer-testi">
                        <div class="content relative rounded shadow shadow-gray-200 dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900">
                            <i class="mdi mdi-format-quote-open mdi-48px text-amber-500"></i>
                            <p class="text-slate-400 text-[15px]">
                                من تقریبا چهار ماه است که مهدی را می شناسم و می توانم بگویم یکی از بهترین توسعه دهندگان مرن استک است.
                                من از او چیزهای زیادی یاد گرفتم و از کدنویسی او واقعا لذت می برم.
                                از داشتن دوست و همکاري مثل مهدي خوشحالم.
                            </p>
                            <ul class="list-none mb-0 text-amber-400 mt-3">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>

                        <div class="text-center mt-5">
                            <img src="assets/images/client/yashar.jpg" class="h-14 w-14 rounded-full shadow-md mx-auto mb-1" alt="">
                            <a href="" class="text-base font-medium h5 hover:text-amber-500 duration-500 ease-in-out">یاشار زنگباری</a>
                            <span class="text-slate-400 text-sm block" dir="rtl">برنامه نویس ارشد SnapFood</span>
                        </div>
                    </div>
                    <!-- Content -->
                </div>

                <div class="tiny-slide">
                    <!-- Content -->
                    <div class="customer-testi">
                        <div class="content relative rounded shadow shadow-gray-200 dark:shadow-gray-800 m-2 p-6 bg-white dark:bg-slate-900">
                            <i class="mdi mdi-format-quote-open mdi-48px text-amber-500"></i>
                            <p class="text-slate-400 text-[15px]">
                                مهدی به طور مداوم 100% از خود را به تیم ما می داد و در حصول اطمینان از تکمیل پروژه های ما در مهلت مقرر بسیار مهم بود. مهدی همیشه قابل اعتماد و حرفه ای بود و در مواقع استرس زا تاثیر مثبتی روی همه ما داشت.
                            </p>
                            <ul class="list-none mb-0 text-amber-400 mt-3">
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                                <li class="inline"><i class="mdi mdi-star"></i></li>
                            </ul>
                        </div>

                        <div class="text-center mt-5">
                            <img src="assets/images/client/masood.jpg" class="h-14 w-14 rounded-full shadow-md mx-auto mb-1" alt="">
                            <a href="" class="text-base font-medium h5 hover:text-amber-500 duration-500 ease-in-out">مسعود شاهپوری</a>
                            <span class="text-slate-400 text-sm block">برنامه نویس ارشد در آیگپ - مدرس مجتمع فنی تهران</span>
                        </div>
                    </div>
                    <!-- Content -->
                </div>
            </div>
        </div><!--end grid-->
    </div><!--end container-->
</section><!--end section-->
<!-- End -->