<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - مهدی پاکروان</title>
<meta name="description" content="MahdiPakravan">
<meta name="keywords" content="MahdiPakravan,مهدی پاکروان,Mahdi">
<meta name="author" content="MahdiPakravan">
<meta name="website" content="https://mahdipakravan.ir">
<meta name="email" content="mahdipakravan.dev@gmail.com">
<meta name="version" content="1.0.0">
<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">